* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(24, 116, 153);
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    z-index: 12;
}

#header a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#header ul li {
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
    padding: 4px 8px;
}

#header ul li:hover {
    color: white;
    background-color: rgb(24, 116, 153);
    border-radius: 18px;
}

#header .icon {
    list-style-type: none;
    display: none;
}

#header .icon li {
    color: white;
    font-size: 3vh;
    background-color: black;
    padding: 3px 7px;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    #header .icon {
        display: block;
        color: gold;
    }

    #header ul {
        position: absolute;
        left: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        top: 100px;
        transform: translateX(-50%);
    }

    #header ul li {
        text-align: center;
        letter-spacing: 2px;
    }

}

/*'''''*/
.sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 50px;
}

.sec::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(22, 161, 196), transparent);
    z-index: 15;
}

.sec img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sec #bird1 {
    position: absolute;
    z-index: 8;
}

.sec #bird2 {
    position: absolute;
    z-index: 8;
}


.sec #text1 {
    position: absolute;
    transform: translateY(40%);
    font-size: 2vh;
    letter-spacing: 0.20em;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sec #text2 {
    position: absolute;
    transform: translateY(60%);
    font-size: 10vw;
    z-index: 7;
}

.sec #forrest {
    z-index: 9;
}

.sec #rock {
    z-index: 10;
}

.sec #water {
    z-index: 11;
}

.para {
    padding: 50px 20px 0 20px;
    background-color: rgb(22, 161, 196);
}

.para p {
    color: white;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}